<h1>Day 7 Questions</h1>


<h2>Typescript Recap</h2>
<br>

<h2>Types:</h2>
<hr>
<h3>What are the different types?</h3>
<p>The different types are: boolean, number, string, array, any, null and undefined.</p>

<h3>Null vs Undefined</h3>
<p>Null can be given to a value to show that it has no value, and null is an object.</p>
<p>Undefined means that the variable is there but it hasn't been given a value, and also Undefined is not an object.</p>

<h3>Array type?</h3>
<p>An array is a list of item that can be strings,numbers, booleans</p>
<br>
<h2>Class:</h2>
<hr>
<h3>What is a class?</h3>
<p>A class helps create objects.So you can set a variable to an object.</p>

<h3>What can a class definition include?</h3>
<p>A class include a constructor.</p>

<h3>What is class inheritance?</h3>
<p>A class inheritance, it a class that get it's information from a previous class you created. It's kinda like a child of the first class.</p>

<h3>Subclass and Superclass?</h3>
<p>Superclass helps call a property from a previous class, it is used went you inherit from a different class.</p>


<h3>Private, Public and Protected.</h3>
<p>Public mean is open to other classes.</p>
<p>Private mean you can only access with that one class you used.</p>
<p>Protect is kinda like private but say you put 'protected' on a derive class it can also access it.</p>

<br>
<h2>Interface:</h2>
<hr>

<h3>What is an interface?</h3>
<p>In an interface you have classes that are connect together.</p>

<h3>How is it different from a class?</h3>
<p>An interface has no implementations.</p>

<br>
<h2>Module:</h2>
<hr>
<h3>What are modules?</h3>
<p>Modules are load so the code could run, it needs dependencies.</p>
<br>

<h2>Components Recap</h2>
<hr>

<h3>What does a component consist of?</h3>
<p>Components needs a typescript and html file.</p>

<h3>How does angular know that a component class is special?</h3>
<p>Component have decorator that help you create a class as an Angular component.</p>

<h3>Command to create a new component?</h3>
<p>To create a new component: ng g component ...</p>

<h3>Ways to select a component?</h3>
<p>cd to a fold or file</p>

<h3>Ways to link a template?</h3>
<p>To link your template you need to do than in typescript file inside of component.</p>

<h3>Ways to link styles for the template?</h3>
<p>It's a similar process to linking template byt you put [] about the link.</p>

<br>
<h2>Built-in Directives Recap</h2>
<hr>

<h3>What is a directive?</h3>
<p>Directive help link files to link into each other, for example ng-model and ng-init </p>

<h3>Two types of directives?</h3>
<p>Two types are: ng-app and ng-model </p>

<h3>Some of basic built-in directives?</h3>
<p>ng-style,ng-class, and ng-disabled</p>

